<div class="title" style="left: 44px; top: 100px;">
    <h1><span style="color: var(--accent);">Snipe</span>ware</h1>
    <span id="motd">Utility client for 1.8</span>
    <button class="discord-button" style="margin-top: 50px;"
        onclick="location.href='https://discord.com/invite/snipeware'">Join the
        Discord</button>
    <button onclick="location.href='./apply.html'"><a href="./apply.html">Apply for Snipeware</a></button>
    <button onclick="location.href='./buy.html'"><a href="./buy.html">Snipeware Premium</a></button>
</div>
